@use '../../app.module.scss' as app;

.topAppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282C34;

  .logo {
    font-size: 1.5rem;
    color: #61dafb;
  }

  .menu {
    display: flex;

    span {
      margin-right: 20px;
      color: #fff;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
